---
const {
  ceremonia,
  recepcion,
  nombreIglesia,
  direccionIglesia,
  horaIglesia,
  nombreFiesta,
  direccionFiesta,
  horaFiesta,
} = Astro.props;
---

<section class="w-full px-4 py-12 bg-white overflow-x-hidden">
  <h1
    class="font-gloock text-center text-5xl mb-8"
    data-aos="fade-down"
    data-aos-delay="100"
  >
    Ubicaciones
  </h1>

  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 px-4">
    <!-- Mapa Misa -->
    <div
      class="space-y-4"
      data-aos="fade-right"
      data-aos-offset="200"
      data-aos-easing="ease-in-sine"
      data-aos-delay="200"
    >
      <h2 class="text-3xl font-gloock text-gray-800 text-center">
        <!-- <ChurchIcon class="inline-block mr-2 text-pink-600" /> -->
        Ceremonia
      </h2>
      <div
        class="aspect-video rounded-xl overflow-hidden shadow-lg hover:shadow-xl transition-shadow duration-300 border-4 border-white"
      >
        <iframe
          class="w-full h-full"
          src={ceremonia}
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
      </div>
      <div class="text-center">
        <p class="text-gray-600 font-medium">{nombreIglesia}</p>
        <p class="text-sm text-gray-500">{direccionIglesia}</p>
        <p class="mt-2 text-pink-600 flex items-center justify-center gap-2">
          <!-- <ClockIcon class="w-5 h-5" /> -->
          <span>{horaIglesia}</span>
        </p>
      </div>
    </div>

    <!-- Mapa Recepción -->
    <div
      class="space-y-4"
      data-aos="fade-left"
      data-aos-offset="200"
      data-aos-easing="ease-in-sine"
      data-aos-delay="300"
    >
      <h2 class="text-3xl font-gloock text-gray-800 text-center">
        <!-- <PartyIcon class="inline-block mr-2 text-pink-600" /> -->
        Recepción
      </h2>
      <div
        class="aspect-video rounded-xl overflow-hidden shadow-lg hover:shadow-xl transition-shadow duration-300 border-4 border-white"
      >
        <iframe
          class="w-full h-full"
          src={recepcion}
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
      </div>
      <div class="text-center">
        <p class="text-gray-600 font-medium">{nombreFiesta}</p>
        <p class="text-sm text-gray-500">{direccionFiesta}</p>
        <p class="mt-2 text-pink-600 flex items-center justify-center gap-2">
          <!-- <ClockIcon class="w-5 h-5" /> -->
          <span>{horaFiesta}</span>
        </p>
      </div>
    </div>
  </div>
</section>
