---
import Ornamento3 from "../../../assets/Ornamento3.astro";
import SalonIcon from "../../../../public/icons/SalonIcon.astro";
import IglesiaIcon from "../../../../public/icons/IglesiaIcon.astro";
import VestimentaIcon from "../../../../public/icons/VestimentaIcon.astro";
import ImportanteIcon from "../../../../public/icons/ImportanteIcon.astro";
import ClockIcon from "../../../../public/icons/ClockIcon.astro";
import "@fontsource/pattaya";
import "@fontsource/yesteryear";
import "@fontsource-variable/merriweather";

const { colorPrimario, iglesia, recepcion } = Astro.props;
---

<section class="max-w-xl mx-auto overflow-x-hidden">
  <h1
    class="font-pattaya text-center text-5xl"
    data-aos="fade-down"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="800"
  >
    Los detalles
  </h1>

  <Ornamento3
    class="fill-amber-500 w-1/2 mx-auto pb-8"
    data-aos="fade-up"
    data-aos-delay="300"
    data-aos-duration="600"
  />

  <div
    class="grid grid-cols-1 bg-[url('/bgmarmol.webp')] bg-cover bg-center p-4"
  >
    <div class="relative mt-16">
      <!-- Card 1 - Misa -->
      <div data-aos="fade-right" data-aos-delay="400" data-aos-offset="200">
        <div
          class="relative z-10 text-center border-3 border-amber-500 rounded-xl p-6 shadow-lg hover:shadow-xl transition-shadow bg-white mx-2 -mt-12"
        >
          <div>
            <IglesiaIcon
              class="size-16 fill-amber-500 mx-auto mb-4 mt-1"
              data-aos="zoom-in"
              data-aos-delay="500"
            />
            <h1
              class="text-4xl font-elegant"
              data-aos="fade-down"
              data-aos-delay="600"
            >
              Misa
            </h1>

            <!-- Horario con icono -->
            <div
              class="flex items-start justify-center gap-2 mt-4"
              data-aos="fade-right"
              data-aos-delay="700"
            >
              <p class="font-elegant text-gray-600 font-bold">
                {iglesia.nombre}
              </p>
            </div>

            <div
              class="flex items-start justify-center gap-2 mt-4"
              data-aos="fade-right"
              data-aos-delay="700"
            >
              <ClockIcon class="size-5 fill-amber-500 mt-1" />
              <p class="font-elegant text-gray-600">Hora: {iglesia.hora}</p>
            </div>

            <!-- Dirección con icono -->
            <div
              class="flex items-start justify-center gap-2 mt-2"
              data-aos="fade-left"
              data-aos-delay="800"
            >
              <ImportanteIcon class="size-5 fill-amber-500 mt-1" />
              <p class="font-elegant text-gray-600 text-center">
                {iglesia.direccion}
              </p>
            </div>

            <a
              href={iglesia.mapa}
              target="_blank"
              class="bg-amber-500 hover:bg-amber-500 text-white font-elegant px-4 py-2 rounded transition-colors inline-block mt-4"
              data-aos="zoom-in"
              data-aos-delay="900"
            >
              Abrir en Maps
            </a>
          </div>
        </div>
      </div>

      <!-- Card 2 - Recepcion -->
      <div
        class="relative mt-16"
        data-aos="fade-left"
        data-aos-delay="500"
        data-aos-offset="150"
      >
        <div
          class="relative z-10 text-center border-2 border-amber-500 rounded-xl p-6 shadow-lg hover:shadow-xl transition-shadow bg-white mx-2 -mt-12"
        >
          <div>
            <SalonIcon
              class="size-16 fill-amber-500 mx-auto mb-4 mt-1"
              data-aos="zoom-in"
              data-aos-delay="600"
            />
            <h1
              class="text-4xl font-elegant"
              data-aos="fade-down"
              data-aos-delay="700"
            >
              Recepción
            </h1>

            <div
              class="flex items-start justify-center gap-2 mt-4"
              data-aos="fade-right"
              data-aos-delay="700"
            >
              <p class="font-elegant text-gray-600 font-bold">
                {recepcion.nombre}
              </p>
            </div>

            <!-- Horario con icono -->
            <div
              class="flex items-start justify-center gap-2 mt-4"
              data-aos="fade-right"
              data-aos-delay="800"
            >
              <ClockIcon class="size-5 fill-amber-500" />
              <p class="font-elegant text-gray-600">Hora: {recepcion.hora}</p>
            </div>

            <!-- Dirección con icono -->
            <div
              class="flex items-start justify-center gap-2 mt-2"
              data-aos="fade-left"
              data-aos-delay="900"
            >
              <ImportanteIcon class="size-5 fill-amber-500 mt-1" />
              <p class="font-elegant text-gray-600 text-center">
                {recepcion.direccion}
              </p>
            </div>

            <a
              href={iglesia.mapa}
              target="_blank"
              class="bg-amber-500 hover:bg-amber-700 text-white font-elegant px-4 py-2 rounded transition-colors inline-block mt-4"
              data-aos="zoom-in"
              data-aos-delay="1000"
            >
              Abrir en Maps
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
